
.site-footer {
  flex-direction: row;
  justify-content: space-between;

  padding: $base-spacing 0;
  text-align: center;
  border-top: 1px solid $medium-white-color;

  p {
    margin-bottom: 5px;
  }

.social {
  padding-top: 5px;
  display: flex;
  justify-content: center;

  li {
    display: inline-block;
    margin-right: 12px;

    &:last-child{
      margin-right: 0px;
    }
  }

  a {
    @include transition(color .15s ease-in-out);
    text-decoration: none;

      color: $primary-color;
      opacity: 1;

      &:hover,
      &:focus,
      &:active {
        color: $secondary-color;
      }
    }
  
  .icon {
    font-size: 1.2rem;
  }
}

}